.conteudo {
    background: rgb(113, 113, 138);
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
}
.conteudo01 {
    background: rgb(113, 113, 138);
    border: 1px solid gray;
    width: 200px;
    height: 2000px;
    float: right;
}

.principal {
    background: green;
    border: 2px solid red;
}

.clear {
    clear: left;
}